.footer {
    background-color: #000;
    color: #fff;
    padding: 20px;
    position:fixed;
    text-align: left;
  }
  
  .footer-header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .footer-header h1 {
    font-size: 1.5em;
  }
  
  .footer-header input[type="email"] {
    padding: 10px;
    margin: 10px 0;
    border: none;
    border-radius: 5px;
    width: calc(100% - 22px);
  }
  
  .footer-header button {
    padding: 10px;
    border: none;
    background-color: #fff;
    color: #000;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .footer-content {
    display: flex;
    flex-wrap: wrap;
    
    justify-content: space-between;
  }
  
  .column {
    flex: 1;
    min-width: 200px;
    margin-bottom: 20px;
  }
  
  h2 {
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  .footer-bottom {
    text-align: center;
    margin-top: 20px;
    font-size: 0.8em;
  }
  
  .app-links {
    display: flex;
    justify-content: space-between;
  }
  
  @media (max-width: 768px) {
    .footer-header {
      text-align: center;
    }
  
    .footer-content {
      flex-direction: column;
      align-items: center;
    }
  
    .app-links {
      flex-direction: column;
      align-items: center;
    }
  }